
<div class="container-fluid no-padding">

    <!--<div class="yellow-bar-top"></div>-->
    <!--<div class="yellow-bar-bottom"></div>-->
    <div class="banner-container">
        <img class="main-img" src="../di-b3.png">
        <div class="center main-title">Divine Intervention</div>
        <div class="center main-subtitle">a medieval magepunk larp</div>
        <div class="yellow-bar-top"></div>
        <div class="yellow-bar-bottom"></div>
    </div>
    <div class="text-container">
        <div class="main-header">
            What Is Divine Intervention?
        </div>
        <div class="main-text">
            <b>Divine Intervention</b> is a medieval magepunk LARP (Live Action Role Play) beginning in <b>Fall 2017</b>.
            <br/>
            <br/>
            The world of <b>Aukana</b> is full of mundane nations warring, trading, and living. The gods of the world--<b>the Five</b>--
            have been seen occasionally walking among the people, performing wonders and then disappearing in a flash again.
            Other than that, though, Aukana is a simple: people just beginning to get a handle on stable society.
            <br/>
            <br/>
            At least until about sixteen years ago, when magic suddenly entered the world.
            <br/>
            <br/>
            Bolstered by the fact that every farmhand and lord on the planet could suddenly work miracles, society changed. Wars exploded, new alliances
            formed, and everyone wondered if this magic was going to last. But it remained, and still does.
            <br/>
            <br/>
            Divine Intervention begins when the Five issue a decree-- come to a town in their lands to live with them, and learn.
            <br/>
            <br/>
            <i><b>Will you answer the gods' call?</b></i>
        </div>

        <div class="main-header">
            What is the game's setting like?
        </div>
        <div class="main-text">
            Divine Intervention is set in the world of Aukana at a town called <b>Brink</b>. Brink is located in the Sacred Lands,
            a small territory in the North that few have ever entered, said to be run by The Five themselves. A few months ago,
            a proclamation began to spread through all the nations of Aukana: The Five were establishing a town within the Sacred Lands,
            where anyone could come, live, and interact with the Five directly for the first time in history.
            <br/>
            <br/>
            Brink had its origins centuries ago as a small encampment for The Chosen Few, who until this proclamation were the only ones
            allowed to freely enter the Sacred Lands at all.
        </div>

        <div class="main-header">
            How do I play?
        </div>
        <div class="main-text">
            First, check out the rulebook here and the playable cultures here.
        </div>

        <div class="main-header">
            How do I help?
        </div>
        <div class="main-text">
            We'd love to have you play NPCs and monsters at our events. Shoot staff an email at ..... .
        </div>
    </div>

</div>