<div class="container-fluid no-padding">
    <div class="banner-container">
        <img class="main-img" src="../di-b3.png">
        <div class="center main-title">Divine Intervention</div>
        <div class="center main-subtitle">a medieval magepunk larp</div>
        <div class="yellow-bar-top"></div>
        <div class="yellow-bar-bottom"></div>
    </div>
    <div class="text-container">
        <div class="main-header">
            What Is Divine Intervention?
        </div>
        <div class="main-text">
            <b>Divine Intervention</b> is an open invitation medieval magepunk LARP (Live Action Role Play) beginning in <b>Fall 2017</b>. Game will be divided annually into
            four weekend long events during which player’s will assume the personas of their approved characters in order to roleplay and meet challenges
            presented by Staff. The first three events each year will primarily focus on the playerbase preparing for an expedition into what is known as
            <b>the Origin of Life</b>, during the final event of the year, in which many dynamics of regular play will be altered or inverted. These four event
            seasons, each ending in an expedition into the Origin, will continue along a fixed story arc expected to last between three to five years
            depending on player action.

        </div>

        <div class="main-header">
            What is the game's setting like?
        </div>
        <div class="main-text">
            For centuries, the world of <b>Aukana</b> has been full of mundane nations warring, trading, and living. At different points, the Gods of the world
            --known as <b>the Five</b>-- have been seen walking among the people, performing wonders and then disappearing in a flash again. Aside from that,
            however, Aukana was a simple place, its people just beginning to get a handle on stable society.
            <br/>
            <br/>
            At least until nineteen years ago when, in an event that has become known as <b>the Illumination</b>,
            The Five granted humanity the gift of magic without warning. In an instant, every farmhand and lord on the planet could work <i>miracles</i>.
            <br/>
            <br/>
            Society changed. Wars grew far more terrifying than ever before, new alliances formed, and humanity wondered if this Magic would last.
            But it remained, and with it the people of Aukana have begun taking the world into their own, now capable, hands and shaping it into one
            of prosperity for all.
            <br/>
            <br/>
            Divine Intervention begins when the Five issue a decree: Come. Live with them. Learn. So that you might ensure the future of Humanity
            in the same place it began… within the Origin of Life.
            <br/>
            <br/>
            <i><b>Will you answer the gods' call?</b></i>
        </div>

        <div class="main-header">
            How do I play?
        </div>
        <div class="main-text">
            First, check out the rules <a ui-sref="rules">here</a> and begin designing a character. If you have questions, contact staff.
            Registration isn't open yet, but when it is, you'll be able to find out more information on the <a ui-sref="events">Events</a> page.
        </div>

        <div class="main-header">
            How do I help?
        </div>
        <div class="main-text">
            We'd love to have you play NPCs and monsters at our events. Shoot staff an email at <a href="mailto:divineinterventionlarp@gmail.com">divineinterventionlarp@gmail.com</a>.
        </div>
    </div>

</div>