<div class="container-fluid no-padding">
    <div class="banner-container">
        <div class="yellow-bar-top"></div>
    </div>

    <div class="text-container">
        <div class="main-header">
            Events
        </div>
        <div class="main-text">
            Divine Intervention begins <b>Fall 2017</b>, and takes place at <b>Camp Denison, Georgetown MA</b>.

            <br/>
            <br/>
            <b>Event 1: </b> September 1-3, 2017
            <br/>
            <b>Event 2: </b> October 27-29, 2017
            <br/>
            <br/>

            Most players arrive at site in the evening, out of character, to get prepared. Game will begin at night; the exact time will
            vary by event. Game off will be called early afternoon on Sunday. If you're planning on NPC-ing, you should head directly to
            staff center on the main road whenever you arrive. Shoot us an email at <a href="mailto:divineinterventionlarp@gmail.com">divineinterventionlarp@gmail.com</a>
            if you're interested in staffing.

        </div>
    </div>
</div>