<div class="container-fluid no-padding">
    <div class="banner-container">
        <div class="yellow-bar-top"></div>
    </div>

    <div class="text-container">
        <div class="main-header">
            Rules
        </div>
        <div class="main-text">
            Check out our alpha rulebook <a href="https://drive.google.com/file/d/0B-WZYNVfCM2fNXRuNl9HUzVNQ1k/view?usp=drivesdk">here</a>. This has information on setting, cultures, character creation, and combat.
            <br/>
            <br/>
            Keep in mind that this rulebook is still in alpha, and is subject to change and expand before game launch. Stay up to date on changes by joining our <a href="https://www.facebook.com/groups/1792929220985885/">Facebook group</a>.
        </div>
    </div>
</div>